body {
    background: #f8f8f8;
    font-family: 'Open Sans', sans-serif;
}
.json-area{
    max-width: 30%;
    width: 100%;
    height: 90vh;
    border: 1px solid #000;
    overflow: scroll;
}
.content-aria{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pannel{
    margin-bottom: 20px;
}
.redLine{
    color: #a31515;
}
.blueLine{
    color: #0451a5;
}
.updated{
    background: #ebf1dc;
    width: fit-content;
}
.json-area{
    font-family: Consolas, Courier New, monospace; 
    font-size: 12px; 
    white-space: pre;
    background: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.button {
    border: none;
    height: 35px;
    width: 150px;
    background: #d9d8fa;
    color: #242b3b;
    border-radius: 6px;
}
